html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #22844e, #1c8e4e, #16984e, #0fa24d, #08ac4b);
  background-repeat: round;
}
div.container-fluid{
  width: 100%;
}
.container{
  
  width :100%;
  height: auto;
}
.TexteAccueil{
  background-image: url("../img/index.jpg");
  text-align: center;
  width: 100%;
  float: left;
  height: 100%;
  
  
}
.txt{
  float: left;
  color: white;
  width: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-left: 50%;
  margin-top: 9%;
  margin-bottom: 50%;
}